{% extends "base.html" %}

{% block css %}
<link ref="stylesheet" type="text/css" href="static/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<main class="app-content">
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <form class="row">
            <div class="form-group col-md-2">
              <label class="control-label" for="select_org_id_search">组织机构</label>
              <select class="form-control" title="机构组构" id="select_org_id_search">
                {% for a in data['org_list'] %}
                <option value="{{ a['id'] }}">{{ a['org_name'] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-2">
              <label class="control-label" for="domain_address">Domain</label>
              <input class="form-control" type="text" id="domain_address" placeholder="域名（模糊搜索）"
                value="{{ data['domain_address'] }}">
            </div>
            <div class="form-group col-md-2">
              <label class="control-label" for="ip_address">IP</label>
              <input class="form-control" type="text" id="ip_address" placeholder="单个IP（精确匹配）"
                value="{{ data['ip_address_domain'] }}">
            </div>
            <div class="form-group col-md-4 align-self-end">
              <button class="btn btn-primary" type="button" id="search">
                <i class="fa fa-fw fa-lg fa-check-circle"></i>搜索</button>
                <button class="btn btn-primary" type="button" id="export_excel">
                  <i class="fa fa-fw fa-lg fa-file-excel-o"></i>导出</button>
              <button class="btn btn-primary" type="button" id="create_task">
                <i class="fa fa-plus"></i>新建任务</button>
            </div>
            <input type="hidden" value="{{ data['session_org_id'] }}" id="hidden_org_id">
          </form>
        </div>
      </div>
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover table-bordered dataTable no-footer" id="domain_table" width="100%">
          </table>
          <!-- 模态对话框：任务-->
          <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header card-header bg-primary">
                  <h4 class="modal-title" id="myModalLabel">
                    新建任务
                  </h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="text_target">
                        <b><span class="text-danger">*</span>Targets:</b>
                      </label>
                      <textarea class="form-control" id="text_target" rows="4"
                        placeholder="www.google.com&#10;github.com"></textarea>
                      <div class="row">
                        <div class="col-md-12 bg-light">
                          <label class="col-form-label">
                            <b>基本选项:</b>
                          </label>
                          <br>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="checkbox_subdomain">
                              <input class="form-check-input" id="checkbox_subdomain" type="checkbox" checked>子域名
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="checkbox_webtitle">
                              <input class="form-check-input" id="checkbox_webtitle" type="checkbox">域名标题
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="checkbox_whatweb">
                              <input class="form-check-input" id="checkbox_whatweb" type="checkbox" checked>WhatWeb指纹
                            </label>
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <label class="col-form-label">
                            <b>扩展模式：</b>
                          </label>
                          <br>
                          <div class="form-check form-check-inline" for="checkbox_fld_domain">
                            <label class="form-check-label">
                              <input class="form-check-input" id="checkbox_fld_domain" type="checkbox">提取顶级域名
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row bg-light">
                        <div class="col-md-12">
                          <label class="col-form-label">
                            <b>资产API：</b>
                          </label>
                          <br>
                          <div class="form-check form-check-inline" for="checkbox_fofasearch">
                            <label class="form-check-label">
                              <input class="form-check-input" id="checkbox_fofasearch" type="checkbox">FOFA
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <label class="col-form-label">
                            <b>端口扫描：</b>
                          </label>
                          <br>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="checkbox_portscan">
                              <input class="form-check-input" id="checkbox_portscan" type="checkbox">IP扫描
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="checkbox_networkscan">
                              <input class="form-check-input" id="checkbox_networkscan" type="checkbox">C段扫描
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group bg-light row">
                        <div class="col-md-12">
                          <br>
                          <label for="select_org_id_task"><b>资产关联的组织机构</b></label>
                          <select class="form-control" id="select_org_id_task">
                            {% for a in data['org_list'] %}
                            <option value="{{ a['id'] }}">{{ a['org_name'] }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">取消
                      </button>
                      <button class="btn btn-primary org-update" type="button" id="start_task">
                        开始任务
                      </button>
                    </div>
                  </form>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div> <!-- table responsive-->
        </div>
        <!----tile body-->
      </div> <!-- tile -->
    </div> <!-- col md-12 -->
  </div>
  <!--row-->
</main>
{% endblock %}

{% block js %}
<!-- Data table plugin-->
<script src="static/js/plugins/jquery.dataTables.min.js"></script>
<script src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script src="static/js/server/domain-list.js"></script>
{% endblock %}