{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="card">
                    <h4 class="card-header">
                        <a href="http://{{ domain_info['domain'] }}" target="_blank">{{ domain_info['domain'] }}</a>
                    </h4>
                    <div class="card-body">
                        <span class="btn btn-info">关联IP</span></b>
                        <span class="btn btn-warning text-left">
                            {% for d in domain_info['ip'] %}
                            <a href="ip-info?ip={{ d }}" target="_blank">{{ d }}</a>&nbsp;
                            {% endfor %}
                        </span>
                        <span class="btn btn-info">端口信息</span></b>
                        <span class="btn btn-warning  text-left">{{ domain_info['port'] }}</span>
                        {% if domain_info['title'] %}
                        <br><br>
                        <span class="btn btn-info">站点标题</span></b>
                        <span class="btn border-secondary text-left">{{ domain_info['title'] }}</span>
                        {% endif %}
                        <br><br>
                        {% if domain_info['organization'] %}
                        <span class="btn btn-info">所属组织</span></b>
                        <span class="btn border-success">{{ domain_info['organization'] }}</span>
                        {% endif %}
                        <span class="btn btn-info">创建时间</span></b>
                        <span class="btn border-success">{{ domain_info['create_datetime'] }}</span>
                        <span class="btn btn-info">更新时间</span></b>
                        <span class="btn border-success">{{ domain_info['update_datetime'] }}</span>
                        {% if domain_info['whatweb'] %}
                        <br><br>
                        <span class="btn border-secondary text-left">WhatWeb：{{ domain_info['whatweb'] }}</span>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        <h5>IP与端口信息</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="10%">IP地址</th>
                            <th width="5%">端口</th>
                            <th width="5%">来源</th>
                            <th width="5%">属性</th>
                            <th width="30%">内容</th>
                            <th width="10%">更新时间</th>
                            <th width="5%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in domain_info['port_attr'] %}
                        {% if row['table_backgroud_set'] %}
                        <tr class="alert-dark">
                            {% else %}
                        <tr>
                            {% endif %}
                            <td>
                                {% if row['ip'] and row['port']%}
                                    {% if row['port']==443  or row['port']==8443 %}
                                    <a href="https://{{ row['ip'] }}:{{ row['port'] }}" target="_blank">{{ row['ip'] }}</a>
                                    {% else %}
                                    <a href="http://{{ row['ip'] }}:{{ row['port'] }}" target="_blank">{{ row['ip'] }}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ row['port'] }}</td>
                            <td>
                                {% if row['source']=='portscan' %}
                                <span class="badge badge-warning"> {{ row['source'] }}</span>
                                {% elif row['source'] == 'fofa' %}
                                <span class="badge badge-success"> {{ row['source'] }}</span>
                                {% else %}
                                <span class="badge badge-secondary"> {{ row['source'] }}</span>
                                {% endif %}
                            </td>
                            <td>{{ row['tag'] }}</td>
                            <td>
                                <div style="width:100%;white-space:normal;word-wrap:break-word;word-break:break-all;">
                                    {{ row['content'] }}
                                </div>
                            </td>
                            <td>{{ row['update_datetime'] }}</td>
                            
                            <td><a class="btn btn-sm btn-danger" href="javascript:delete_port_attr({{ row['id'] }})" role="button" title="Delete"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--row-->
</main>
{% endblock %}

{% block js %}
<!-- Data table plugin-->
<script src="static/js/plugins/jquery.dataTables.min.js"></script>
<script src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script src="static/js/server/asset-info.js"></script>
<script>
    $("title").html(" {{ domain_info['domain'] }}-domaininfo");
</script>
{% endblock %}