requests
dnspython
pymysql
DBUtils==1.4
celery==4.4.7
flower
flask
flask_limiter
gevent
pyyaml
shodan
tld
openpyxl
#ESD package:
aiodns
aiohttp
async-timeout
colorlog
uvloop
backoff
pysocks 
tldextract
colorama
pocsuite3
#JSFinder
bs4
